<div class="bg-surface-50 dark:bg-surface-950 mobile-shell flex flex-col">
    <main class="main-content flex flex-1 flex-col">
        <router-outlet></router-outlet>
    </main>

    <nav
        class="bottom-nav bg-surface-0 dark:bg-surface-900 border-surface-200 dark:border-surface-700 flex items-stretch border-t"
    >
        @for (item of navItems; track item.route) {
            <a
                [routerLink]="item.route"
                routerLinkActive="!text-primary-500"
                [routerLinkActiveOptions]="{ exact: true }"
                class="text-surface-500 dark:text-surface-400 flex flex-1 cursor-pointer flex-col items-center justify-center gap-1 transition-colors"
            >
                <i class="pi {{ item.icon }} text-xl! leading-none!"></i>
                <span class="text-xs leading-none font-medium">{{ item.labelKey | transloco }}</span>
            </a>
        }
    </nav>
</div>
